<div class="article-header">
    <h1 class="article-title">Alert <small>component</small></h1>
</div>


<div class="article-description">
    <p>Provide contextual feedback messages for typical user actions with alert messages.</p>
</div>


<div class="article-params">
    <h3>Classes</h3>
    <table class="table">
        <colgroup>
            <col style="width: 30%;">
            <col style="width: 70%;">
        </colgroup>
        <thead>
            <tr>
                <th>Class</th>
                <th>Usage</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th><code>alert</code></th>
                <td>Wrap text in this base class paired with a contextual class to create an alert box.</td>
            </tr>
            <tr>
                <th><code>alert-link</code></th>
                <td>Apply to hyperlinks within the alert box to handle color variations.</td>
            </tr>
            <tr>
                <th><code>alert-title</code></th>
                <td>Apply to <code>&lt;h4&gt;</code> elements to handle color and spacing variations.</td>
            </tr>
            <tr>
                <th><code>alert-info</code></th>
                <td>Contextual class for conveying an informational message.</td>
            </tr>
            <tr>
                <th><code>alert-success</code></th>
                <td>Contextual class for conveying a successful message.</td>
            </tr>
            <tr>
                <th><code>alert-warning</code></th>
                <td>Contextual class for conveying a warning message.</td>
            </tr>
            <tr>
                <th><code>alert-danger</code></th>
                <td>Contextual class for conveying an error message.</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="article-example">
    <h3>Usage</h3>
<pre prism="markup">
&lt;div class="alert alert-success"&gt;
    &lt;h4 class="alert-title"&gt;Alert Title&lt;/h4&gt;
    &lt;p&gt;Lorem ipsum dolor sit amet, &lt;a href="#" class="alert-link"&gt;consectetur adipisicing&lt;/a&gt; elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&lt;/p&gt;
&lt;/div&gt;
</pre>
</div>