<div class="article-header">
    <h1 class="article-title">Button Group <small>component</small></h1>
</div>


<div class="article-description">
    <p>Merge buttons together into a single component.</p>
</div>


<div class="article-params">
    <h3>Classes</h3>
    <table class="table">
        <colgroup>
            <col style="width: 30%;">
            <col style="width: 70%;">
        </colgroup>
        <thead>
            <tr>
                <th>Class</th>
                <th>Usage</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th><code>btn-group</code></th>
                <td>Wrap <a ui-sref="doc.article({ path: 'helpers/btn.html' })"><code>.btn</code></a> elements in this class to create a group of buttons joined together.</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="article-example">
    <h3>Usage</h3>
<pre prism="markup">
&lt;div class="btn-group"&gt;
    &lt;button type="button" class="btn btn-default"&gt;Button&lt;/button&gt;
    &lt;button type="button" class="btn btn-default"&gt;Button&lt;/button&gt;
    &lt;button type="button" class="btn btn-default"&gt;Button&lt;/button&gt;
&lt;/div&gt;
</pre>
</div>