<div class="article-header">
    <h1 class="article-title">Icon List <small>component</small></h1>
</div>


<div class="article-description">
    <p>Use icon lists to easily manage a list of icons which may or may not be accompanied by a text label. By default, hovering over each item will produce a <code>50% opacity</code> hover state to avoid dealing with additional images for icon hover states. Control spacing between list items with the <code>@icon-list-offset-horz</code> variable.</p>
</div>


<div class="article-params">
    <h3>Classes</h3>
    <table class="table">
        <colgroup>
            <col style="width: 30%;">
            <col style="width: 70%;">
        </colgroup>
        <thead>
            <tr>
                <th>Class</th>
                <th>Usage</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th><code>icon-list</code></th>
                <td>Container for an icon list element.</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="article-example">
    <h3>Usage</h3>
<pre prism="markup">
&lt;div class="icon-list"&gt;
    &lt;ul&gt;
        &lt;li&gt;
            &lt;a href="http://facebook.com/" target="_blank"&gt;
                &lt;span class="icon icon-facebook"&gt;&lt;/span&gt;
                &lt;span class="sr"&gt;Facebook&lt;/span&gt;
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a href="http://twitter.com/" target="_blank"&gt;
                &lt;span class="icon icon-twitter"&gt;&lt;/span&gt;
                &lt;span class="sr"&gt;Twitter&lt;/span&gt;
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a href="http://instagram.com/" target="_blank"&gt;
                &lt;span class="icon icon-instagram"&gt;&lt;/span&gt;
                &lt;span class="sr"&gt;Instagram&lt;/span&gt;
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a href="http://youtube.com/" target="_blank"&gt;
                &lt;span class="icon icon-youtube"&gt;&lt;/span&gt;
                &lt;span class="sr"&gt;YouTube&lt;/span&gt;
            &lt;/a&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
</pre>
</div>