<div class="article-header">
    <h1 class="article-title">Icon <small>component</small></h1>
</div>


<div class="article-description">
    <p>This is a placeholder class for managing icon elements. By default, no sprite image is associated with this component but that can be set with the <code>@icon-sprite-path</code> variable. Also be sure to properly set the values for the <code>@icon-width</code> and <code>@icon-height</code> variables.</p>
</div>


<div class="article-params">
    <h3>Classes</h3>
    <table class="table">
        <colgroup>
            <col style="width: 30%;">
            <col style="width: 70%;">
        </colgroup>
        <thead>
            <tr>
                <th>Class</th>
                <th>Usage</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th><code>icon</code></th>
                <td>Base class for icon elements. This is meant to be used with an <code>icon-</code> subclass to indicate the icon position within the sprite image.</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="article-example">
    <h3>Usage</h3>
<pre prism="less">
.icon-facebook  { background-position: 0 0; }
.icon-twitter   { background-position: -30px 0; }
.icon-instagram { background-position: -60px 0; }
</pre>
<pre prism="markup">
&lt;a href="http://facebook.com/back40design"&gt;
    &lt;span class="icon icon-facebook"&gt;&lt;/span&gt;
    &lt;span class="sr"&gt;Facebook&lt;/span&gt;
&lt;/a&gt;
&lt;a href="http://twitter.com/back40design"&gt;
    &lt;span class="icon icon-twitter"&gt;&lt;/span&gt;
    &lt;span class="sr"&gt;Twitter&lt;/span&gt;
&lt;/a&gt;
&lt;a href="http://instagram.com/back40design"&gt;
    &lt;span class="icon icon-instagram"&gt;&lt;/span&gt;
    &lt;span class="sr"&gt;Instagram&lt;/span&gt;
&lt;/a&gt;
</pre>
</div>